# Copyright (c) 2022-2023 Adam Karpierz
# Licensed under the zlib/libpng License
# https://opensource.org/licenses/Zlib

include README.rst
include CHANGES.rst
include LICENSE
include pyproject.toml
include .readthedocs.yml

graft docs

graft src

graft tests

global-exclude \#* \#*/**
global-exclude .build .build/** .build.* .build.*/**
global-exclude *.py[cod] __pycache__
